/* main.css */

/* Custom styles for SSAFIT */

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Headings */
h2 {
    color: #1F1D2B;
}

/* Navbar */
.custom-navbar {
    background-color: #1F1D2B; /* 네비게이션 바의 배경색 */
}

.navbar-brand, .nav-link, .dropdown-toggle {
    color: #ffffff; /* 텍스트를 흰색으로 설정 */
}

.navbar-toggler {
    border-color: #ffffff; /* 토글 버튼 테두리 색상 */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* 토글 버튼 아이콘을 흰색으로 변경 */
}

.form-control {
    border-radius: 20px; /* 검색 창의 둥근 모서리 */
}

.btn-outline-light {
    border-radius: 20px; /* 검색 버튼의 둥근 모서리 */
    border-color: #ffffff;
}

.dropdown-menu {
    min-width: 150px; /* 드롭다운 메뉴의 최소 너비 */
}

.dropdown-menu a {
    color: #000000 !important; /* 드롭다운 메뉴 아이템의 색상 */
}

/* 드롭다운 버튼의 배경색과 글자색 변경 */
.dropdown-center .btn-secondary {
    background-color: #242730; /* 배경색을 변경 (예: SSAFIT의 메인 색상) */
    color: #ffffff; /* 글자색을 흰색으로 변경 */
    border-color: #242730; /* 버튼의 테두리 색상도 변경 */
}

/* 드롭다운 버튼 호버 시 배경색과 글자색 변경 */
.dropdown-center .btn-secondary:hover {
    background-color: #4f566b; /* 호버 시 배경색 변경 */
    color: #ffffff; /* 호버 시 글자색을 흰색으로 유지 */
    border-color: #4f566b; /* 호버 시 테두리 색상도 변경 */
}

/* 드롭다운 메뉴 아이템의 배경색과 글자색 변경 */
.dropdown-menu {
    background-color: #f8f9fa; /* 드롭다운 메뉴 배경색 변경 */
}

.dropdown-menu .dropdown-item {
    color: #333333; /* 드롭다운 메뉴 아이템의 글자색 변경 */
}

/* 드롭다운 메뉴 아이템 호버 시 배경색과 글자색 변경 */
.dropdown-menu .dropdown-item:hover {
    background-color: #242730; /* 호버 시 배경색 변경 */
    color: #ffffff; /* 호버 시 글자색을 흰색으로 변경 */
}


/* 운동 부위 선택 드롭다운과 추천 영상 사이의 여백 추가 */
#part-videos {
    margin-top: 20px; /* 추천 영상 위에 20px의 여백 추가 */
}

.dropdown-center {
    margin-bottom: 20px; /* 드롭다운 아래에 20px의 여백 추가 */
}


/* Card Styles */
/* 스타일 추가 */
.card {
    position: relative;
    border: none;
    overflow: hidden;
    background-color: transparent;
}

.card img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #1F1D2B;
    margin-top: 0.5rem;
}

.card-text {
    font-size: 0.8rem;
    color: #555;
}

/* 시간 표시 */
.card .duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #1F1D2B;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
}


/* Footer */
/* Footer styles */
/* Footer styles */
footer {
    background-color: #1F1D2B; /* 푸터 배경색 */
    color: #ffffff; /* 푸터 텍스트 색상 */
}

footer .footer-link {
    color: #ffffff; /* 링크 색상 흰색 */
    margin: 0 15px; /* 링크 간 간격 조정 */
    text-decoration: none; /* 기본 밑줄 제거 */
}


