/* main.css */

/* Custom styles for SSAFIT */

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Headings */
h2 {
    color: #1F1D2B;
}

/* Navbar */
.custom-navbar {
    background-color: #1F1D2B; /* 네비게이션 바의 배경색 */
}

.navbar-brand, .nav-link, .dropdown-toggle {
    color: #ffffff; /* 텍스트를 흰색으로 설정 */
}

.navbar-toggler {
    border-color: #ffffff; /* 토글 버튼 테두리 색상 */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* 토글 버튼 아이콘을 흰색으로 변경 */
}

.form-control {
    border-radius: 20px; /* 검색 창의 둥근 모서리 */
}

.btn-outline-light {
    border-radius: 20px; /* 검색 버튼의 둥근 모서리 */
}

/* Card Styles */
.card {
    position: relative;
    border: none;
    overflow: hidden;
    background-color: transparent;
}

.card img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #1F1D2B;
    margin-top: 0.5rem;
}

.card-text {
    font-size: 0.8rem;
    color: #555;
}

.card a {
    text-decoration: none;
}

/* 추가: 마우스 오버 시에도 밑줄이 생기지 않도록 설정 */
.card a:hover {
    text-decoration: none;
}

/* 시간 표시 */
.card .duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #1F1D2B;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
}

/* Footer */
footer {
    background-color: #1F1D2B; /* 푸터 배경색 */
    color: #ffffff; /* 푸터 텍스트 색상 */
}

footer .footer-link {
    color: #ffffff; /* 링크 색상 흰색 */
    margin: 0 15px; /* 링크 간 간격 조정 */
    text-decoration: none; /* 기본 밑줄 제거 */
}

footer .list-inline {
    display: flex;
    justify-content: center; /* 링크들을 정중앙에 배치 */
    padding-bottom: 10px; /* 상단 텍스트와 여백 추가 */
}

footer .list-inline-item {
    margin: 0 10px; /* 리스트 아이템 간의 간격 조정 */
}
